<footer class="footer text-white" style="background:#1a3a52;">
    <div class="container py-4">
        <div class="row">
            <div class="col-6 col-md-3 mb-3">
                <h6 class="text-uppercase">Sitemap</h6>
                <a class="d-block text-decoration-none text-light-50" asp-controller="OurStory" asp-action="Index">Our Story</a>
                <a class="d-block text-decoration-none text-light-50" asp-controller="Menu" asp-action="Index">Menu</a>
                <a class="d-block text-decoration-none text-light-50" asp-controller="Events" asp-action="Index">Events</a>
                <a class="d-block text-decoration-none text-light-50" asp-controller="Blog" asp-action="Index">Blog</a>
            </div>
            <div class="col-6 col-md-3 mb-3">
                <h6 class="text-uppercase">Locations</h6>
                <a class="d-block text-decoration-none text-light-50" href="#">Sila</a>
                <a class="d-block text-decoration-none text-light-50" href="#">Ben Thanh</a>
                <a class="d-block text-decoration-none text-light-50" href="#">DaKao</a>
            </div>
            <div class="col-6 col-md-3 mb-3">
                <h6 class="text-uppercase">Follow us</h6>
                <a class="d-block text-decoration-none text-light-50" href="#">Facebook</a>
                <a class="d-block text-decoration-none text-light-50" href="#">Instagram</a>
            </div>
            <div class="col-6 col-md-3 mb-3">
                <h6 class="text-uppercase">Contact us</h6>
                <a class="d-block text-decoration-none text-light-50" href="mailto:booking@cocotte.asia">booking@cocotte.asia</a>
                <a class="d-block text-decoration-none text-light-50" href="tel:0902911227">0902911227</a>
            </div>
        </div>
    </div>
</footer>


