html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Simple helpers to emulate wireframe look */
.header .logo { color: #1a3a52; }
.footer a { color: #ccc; }
.footer h6 { font-size: 14px; }
.footer .text-light-50 { color: #cccccc !important; font-size: 12px; }